body {
    background-color: #ba4646;
}

h1 {
    color: aquamarine;
    font-style: italic;
    font-family: Cambria,  Georgia, Calibri, Times New Roman, Gabriola;
}

img {
    width: 20%;
    height:20%;
}
dt{
    color:moccasin
    
}
